<div class="row">
  <div class="panel panel-default">
      <div class="panel-heading">
          <div class="text-muted bootstrap-admin-box-title"><%= t("bulk_upload") %></div>
      </div>
      <div class="bootstrap-admin-panel-content">
        <%= form_for(:dump, :url=>{:controller=>"users",:action=>"csv_import"}, :html => {:multipart => true, :class => "form-horizontal" }) do |f| %>
        <div class="form-group">
          <%= f.label "Select File", :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">
              <%= f.file_field :file, :class => "form-control uniform_on" %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>