<div class="row">
    <div class="panel panel-default bootstrap-admin-no-table-panel">
        <div class="panel-heading">
           <div class="text-muted bootstrap-admin-box-title">New Student</div>
        </div>
        <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
          <%= form_for(@user, :url => "/users/create", :html => {:class => "form-horizontal"}) do |f| %>
            <%= render "form", :f => f %>
          <% end %>
        </div>
    </div>
</div>
