<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-muted bootstrap-admin-box-title">Divisions</div>
      <div class="pull-right"><span class="badge">17</span></div>
    </div>
    <div class="bootstrap-admin-panel-content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Standard</th>                                                
            <th>Number of Students</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
